<!DOCTYPE HTML>
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 部门管理 <span class="c-gray en">&gt;</span> 电脑事业部 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
         <span class="l">    
            <a class="btn btn-primary radius" href="javascript:;">部门经理：刘子栋</a></span> <span class="r"></span> 
    </div>

	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="400">部门介绍</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>HUAWEI MateBook 13外观简约时尚，采用一体式金属机身，
						辅以铝合金陶瓷喷砂工艺以及CNC高光倒角，机身四周做了温和的圆角设计，
						与金属机身结合后，展现出刚柔并济的设计美感，产品A面主打简约风格，
						除了中央印刻的“HUAWEI”LOGO之外，再无其他。上手手感比较细腻，
						而且不易沾指纹，打理起来也是比较方便的 </td>
				</tr>	
			</tbody>
		</table>
		<table class="table table-border table-bordered table-bg table-hover table-sort">
				<thead>
					<tr class="text-c">
						<th width="400">涵盖品牌</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>联想</td>
						<td>华硕</td>
						<td>华为</td>
					</tr>	
				</tbody>
			</table>
	</div>
</div>

</body>
</html>