<!DOCTYPE HTML>
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 部门管理 <span class="c-gray en">&gt;</span> 电视事业部 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
         <span class="l">    
            <a class="btn btn-primary radius" href="javascript:;">部门经理：申晨</a></span> <span class="r"></span> 
    </div>

	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="400">部门介绍</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>电视是指利用电子技术及设备传送活动的图像画面和音频信号的设备，是重要的广播和视频通信工具，电视机最早由英国工程师约翰·洛吉·贝尔德在1925年发明，主要由信号系统、扫描系统和电源电路等构成。
							电视的工作原理是利用人眼的视觉残留效应显现一帧帧渐变的静止图像，形成视觉上的活动图像。从使用效果和外形来区分，电视主要分为5大类：平板电视、CRT显像管电视、背投电视、投影电视和3D电视。现代电视又主要分为网络电视、数字电视、互联网电视、移动电视和户外电视等几类。 </td>
				</tr>	
			</tbody>
		</table>
		<table class="table table-border table-bordered table-bg table-hover table-sort">
				<thead>
					<tr class="text-c">
						<th width="400">涵盖品牌</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>小米</td>
						<td>索尼</td>
						<td>三星</td>
					</tr>	
				</tbody>
			</table>
	</div>
</div>

</body>
</html>