<!DOCTYPE HTML>
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 部门管理 <span class="c-gray en">&gt;</span> 空调事业部 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
         <span class="l">    
            <a class="btn btn-primary radius" href="javascript:;">部门经理：空调哥</a></span> <span class="r"></span> 
    </div>

	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="400">部门介绍</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>空调是空气调节器(room air conditioner)的简称，空调是对空气的温度，湿度，纯净度，气流速度进行处理，满足人们生产、生活需要的设备。挂式空调是空调的其中一种，用于给空间区域节省地方（一般为密闭）提供处理空气温度变化的机组。它的功能是对该房间（或封闭空间、区域）内空气的温度、湿度、洁净度和空气流速等参数进行调节，以满足人体舒适或工艺过程的要求，但要根据空间的大小选择空调的大小。 </td>
				</tr>	
			</tbody>
		</table>
		<table class="table table-border table-bordered table-bg table-hover table-sort">
				<thead>
					<tr class="text-c">
						<th width="400">涵盖品牌</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>美的</td>
						<td>格力</td>
						<td>奥克斯</td>
					</tr>	
				</tbody>
			</table>
	</div>
</div>

</body>
</html>