<!DOCTYPE HTML>
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 部门管理 <span class="c-gray en">&gt;</span> 洗衣机事业部 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
         <span class="l">    
            <a class="btn btn-primary radius" href="javascript:;">部门经理：朱世融</a></span> <span class="r"></span> 
    </div>

	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="400">部门介绍</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>洗衣机是利用电能产生机械作用来洗涤衣物的清洁电器，按其额定洗涤容量分为家用和集体用两类。
							中国规定洗涤容量在6千克以下的属于家用洗衣机：家用洗衣机主要由箱体、洗涤脱水桶（有的洗涤和脱水桶分开）、传动和控制系统等组成，有的还装有加热装置。洗衣机一般专指使用水作为主要的清洗液体，有别于使用特制清洁溶液，及通常由专人负责的干洗。</td>
				</tr>	
			</tbody>
		</table>
		<table class="table table-border table-bordered table-bg table-hover table-sort">
				<thead>
					<tr class="text-c">
						<th width="400">涵盖品牌</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>西门子</td>
						<td>松下</td>
						<td>海尔</td>
					</tr>	
				</tbody>
			</table>
	</div>
</div>

</body>
</html>