<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 部门管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('category/dianshi')}" data-title="电视事业部" href="javascript:void(0)">电视事业部</a></li>
					<li><a _href="{:url('category/kongtiao')}" data-title="空调事业部" href="javascript:void(0)">空调事业部</a></li>
					<li><a _href="{:url('category/xiyiji')}" data-title="洗衣机事业部" href="javascript:void(0)">洗衣机事业部</a></li>
					<li><a _href="{:url('category/computer')}" data-title="电脑事业部" href="javascript:void(0)">电脑事业部</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 员工管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('worker/aftersaleman')}" data-title="售后人员" href="javascript:void(0)">售后人员</a></li>
					<li><a _href="{:url('worker/salesman')}" data-title="销售人员" href="javascript:void(0)">销售人员</a></li>
					<li><a _href="{:url('worker/manager')}" data-title="部门经理" href="javascript:void(0)">部门经理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe613;</i> 客户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('user/user')}" data-title="客户" href="javascript:void(0)">客户信息</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 配置与产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('production/dianshi')}" data-title="电视" href="javascript:void(0)">电视</a></li>
					<li><a _href="{:url('production/kongtiao')}" data-title="空调" href="javascript:void(0)">空调</a></li>
					<li><a _href="{:url('production/xiyiji')}" data-title="洗衣机" href="javascript:void(0)">洗衣机</a></li>
					<li><a _href="{:url('production/diannao')}" data-title="电脑" href="javascript:void(0)">电脑</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i>产品信息导入 <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('excel/index')}" data-title="EXCEL产品信息导入" href="javascript:void(0)">EXCEL产品信息导入</a></li>
					
				</ul>
			</dd>
		</dl>

	</div>
</aside>