<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../public/static/bs/css/bootstrap.min.css">
    <script src="../../../public/static/bs/js/jquery-2.1.1.min.js"></script>
    <script src="../../../public/static/bs/js/bootstrap.min.js"></script>
    <script src="../../../public/static/bs/js/aftersale.js"></script>

    <title>Document</title>

    <script>
        function setafter() {         
            var set = new Object();
            set.kind = $("#setkind").val();
            set.id = $("#ornumber").val();
            set.details = $("#setdetails").val();
            // var formData = $("#setform").serialize();
            // $.post('{:url("ajax_setafter")}',{"kind":$("#setkind").val(),"afterid":$("#ornumber").val(),details:$("#setdetails").val()},function(data){
            // $('fd').serialize();
            // });
            console.log(set);
            $.ajax({
                type: "post",
                url: "{:url('searchid')}",
                data: set,
                dataType: "json",
                success: function (data) {
                    if (data == 0) {
                        $("#myForm1").css({ display: 'none' });
                        $(".modal-backdrop").css({ display: 'none' });
                        // alert("shibei");
                        alert("售后办理中，请勿重复提交");
                        window.location.reload();
                        //   $("#myForm1").css({ display: 'inline' });
                        // $(".modal-backdrop").css({ display: 'inline' });



                    } else if(data == 6){
                         $("#myForm1").css({ display: 'none' });
                        $(".modal-backdrop").css({ display: 'none' });
                        // alert("shibei");
                        alert("订单不存在");
                        window.location.reload();
                    }else {
                        // $("#myForm1").css({ display: 'inline' });
                        // $(".modal-backdrop").css({ display: 'inline' });
                        console.log(data);
                        $('#afterid').text(data.d[0].sv_id);
                        $('#orid').text(set.id);
                        $('#pdid').text(data.s[0].or_pro_id);
                        $('#userid').text(data.s[0].or_user_id);
                        $('#afterdate').text(data.d[0].sv_time);
                        $('#afterman').text(data.d[0].sv_wk_id);
                        $('#afterkind').text(set.kind);
                        $('#details').text(set.details);
                    }


                }

            })
        }

        function setback(e){
            var s_id =e.id;
            var back = new Object();
            back.id = s_id;
            // set.id = $("#ornumber").val();
            // set.details = $("#setdetails").val();
            console.log(back);
            $.ajax({
                type: "post",
                url: "{:url('feedback')}",
                data: back,
                dataType: "json",
                success: function (data) {
                    // $('#fbnum').text(data.d[0].sv_id);
                    if(data == 0 ){
                        alert("服务已办结");
                        window.location.reload();
                    }else{
                    console.log(data);
                    $('#fsvnum').text(data.a[0].sv_id);
                    $('#fsvtime').text(data.a[0].sv_time);
                    $('#fsvwk').text(data.a[0].sv_wk_id);
                    $('#fsvkind').text(data.a[0].sv_type);
                    $('#fornum').text(data.a[0].sv_or_id);
                    $('#forpro').text(data.b[0].or_pro_id);
                    $('#forprice').text(data.b[0].or_price);
                    $('#forname').text(data.c[0].pro_name);
                    $('#fortime').text(data.b[0].or_buy_time);
                    // $('#fsvkind').text(data[0].sv_type);
                    // $('#afterman').text(data.d[0].sv_wk_id);
                    // $('#afterkind').text(set.kind);
                    // $('#details').text(set.details);
                    }

                }
            })

        }

        function submitback(e){
            var submit = new Object();
            submit.charge=$("#charge").val();
            submit.deal=$("#deal").val();
            submit.verify=$("#verify").val();
            submit.id=$("#fsvnum").text();
            // var s_id =e.id;
            // submit.id=s_id;
            console.log(submit);
            $.ajax({
                type: "post",
                url: "{:url('submitback')}",
                data: submit,
                dataType: "json",
                 success: function (data) {
                 console.log(data);
                 if(data == 0){
                     alert("费用不能为空")
                 }else if(data == 8 ){
                     alert("处理情况不能为空")
                 }else{
                     alert('服务反馈以提交,服务编号为 ' + data[0].fd_id);
                     window.location.reload();
                 }
                
            }


            })
        }
      
    </script>
</head>
<!--<body>
    <div class="container">
        <div class="panel panel-primary">
            <button class="btn btn-success">用户展示</button>
        </div>
    </div>-->

<!--</body>-->

<div class="cover " style="margin-bottom:10px">

    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                <a class="navbar-brand" href="#">售后服务系统</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                <ul id="myTab" class="nav navbar-nav navbar-right " role="tablist">
                    <li class="active">
                        <a href="#feed" role="tab" data-toggle="tab">服务反馈单</a>
                    </li>
                    <li>
                        <a href="#state" role="tab" data-toggle="tab">售后服务状态</a>
                    </li>
                    <li>
                        <a href="#set" role="tab" data-toggle="tab">售后服务受理</a>
                    </li>
                </ul>
                <!--<ul class="nav navbar-nav navbar-right">

                        <li class="active"> <a href="#">售后服务受理</a> </li>

                        <li> <a href="#">售后服务状态</a> </li>

                        <li><a href="#">售后服务办结</a></li>

                    </ul>-->
            </div>
        </div>
    </div>
    <div class="cover-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>你好，{$Request.session.wk_username}</h1>
                <p>祝您工作愉快，一切顺利</p>
                <br>
                <br>
                <a class="btn btn-lg btn-default" href="{:url('Index/zhuxiao')}"> 注  销 </a>
            </div>
        </div>
    </div>
</div>
<div id="myTabContent" class="tab-content">
    <div class="section tab-pane fade" id="set">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">售后服务受理</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" method="POST" id="setform">
                        <div class="form-group ">
                            <div class="col-sm-2">
                                <label class="control-label">问题分类</label>
                            </div>
                            <div class="col-sm-10">
                                <select class="form-control input-lg" name="setkind" id="setkind">
                                        <option>退货</option>
                                        <option>换货</option>
                                        <option>维修</option>
                                        <option>咨询</option>
                                    </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label">订单编号</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-lg" name="ornumber" id="ornumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label">问题详情</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-lg" name="setdetails" id="setdetails">
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div>

                            </div>
                        </div>

                        <!--<input type="button" value="生成售后服务单" data-toggle="modal" data-target="#myModal1">-->
                    </form>
                    <button class="banji btn btn-primary" data-toggle="modal" data-target="#myModal1" onclick="setafter()">生成售后服务单</button>
                </div>
            </div>
        </div>

    </div>
    <script>
        $(function () {
            $("#btn").click(function (e) {
                e.preventDefault();
            });
        });
        $(function () {
            $(".back").click(function (e) {
                e.preventDefault();
            });
        })
    </script>
    <!--<div class="section tab-pane fade" id="out">-->
    <!--<div class="container">123-->
    <!--<div id="optiondiv" class="choose col-md-12">-->
    <!--选项卡菜单-->
    <!--<ul id="myTab" class="nav nav-tabs nav-justified nav-pills " role="tablist">

                        <li class="active"><a href="#set" role="tab" data-toggle="tab">售后服务受理</a></li>

                        <li><a href="#state" role="tab" data-toggle="tab">售后服务状态</a></li>

                        <li><a href="#out" role="tab" data-toggle="tab">售后服务办结</a></li>

                   

                    </ul>-->
    <!-- 选项卡面板 -->
    <!--<div id="myTabContent" class="tab-content">

                        <div class="tab-pane fade in active" id="set">123</div>

                        <div class="tab-pane fade" id="state">112233</div>

                        <div class="tab-pane fade" id="out">111222333</div>

                    

                    </div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="section  tab-pane fade" id="state">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                
                                <th>售后服务单号</th>
                                <th>订单编号</th>
                                <th>类型</th>
                                <th>受理时间</th>
                                <th>受理状态</th>
                                <th>订单用户</th>
                                <th>会员身份</th>
                                <th>进行办结</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="after" id="aftervalue"}
                            <tr>
                                <td>{$aftervalue.sv_id}</td>
                                <td>{$aftervalue.sv_or_id}</td>
                                <td>{$aftervalue.sv_type}</td>
                                <td>{$aftervalue.sv_time}</td>
                                <td>{$aftervalue.sv_status}</td>
                                <td>{$aftervalue.user_name}</td>
                                <td>{$aftervalue.user_status}</td>
                                <td><button class="banjie btn btn-primary" data-toggle="modal" data-target="#myModal" id="{$aftervalue.sv_id}"  value="{$aftervalue.sv_id}" onclick="setback(this)">办结</button></td>
                            </tr>
                            {/volist}

                            <!--<tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>@twitter</td>
                                <td><button class="btn btn-primary" data-toggle="modal" data-target="#myModal">办结</button></td>
                            </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="section  tab-pane fade  in active" id="feed">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr> 
                                
                                <th>服务反馈单号</th>
                                <th>售后服务编号</th>
                                <th>类型</th>
                                <th>服务反馈时间</th>
                                <th>服务费用</th>
                                <th>用户确认</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="feed" id="feedvalue"}
                            <tr>
                                <td>{$feedvalue.fd_id}</td>
                                <td>{$feedvalue.fd_sv_id}</td>
                                <td>{$feedvalue.fd_type}</td>
                                <td>{$feedvalue.fd_time}</td>
                                <td>{$feedvalue.fd_cost}</td>
                                <td>{$feedvalue.fd_status}</td>
                            
                            </tr>
                            {/volist}
                          
                            
                            <!--<tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>@twitter</td>
                                <td><button class="btn btn-primary" data-toggle="modal" data-target="#myModal">办结</button></td>
                            </tr>-->
                        </tbody>
                    </table>
                    <div style="text-align:center">{$page}</div>
                </div>
            </div>
        </div>
    </div>
</div>


<form method="post" action="#" class="form-horizontal" role="form" id="myForm1" onsubmit="return " >
    <div class="modal fade" id="myModal1" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!--  定义模态框，过渡效果为淡入，id为myModal,tabindex=-1可以禁用使用tab切换，aria-labelledby用于引用模态框的标题，aria-hidden=true保持模态框在触发前窗口不可见  -->
        <div class="modal-dialog">
            <!--  显示模态框对话框模型（若不写下一个div则没有颜色）  -->
            <div class="modal-content">
                <!--  显示模态框白色背景，所有内容都写在这个div里面  -->

                <div class="modal-header">
                    <!--  模态框标题  -->
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!--  关闭按钮  -->
                    <h4>售后服务单</h4>
                    <!--  标题内容  -->
                </div>

                <div class="modal-body">
                    <!--  模态框内容，我在此处添加一个表单 -->
                    <form class="form-horizontal" role="form">
                        <div></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label-left">售后服务编号：</label>
                            <label class="col-sm-9 control-label" id="afterid" style="text-align: left"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label-left">订单编号：</label>
                            <label class="col-sm-9 control-label" style="text-align: left" id="orid"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label-left">产品编号：</label>
                            <label class="col-sm-9 control-label" style="text-align: left" id="pdid"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label-left">客户编号：</label>
                            <label class="col-sm-9 control-label" style="text-align: left" id="userid"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label-left">受理日期：</label>
                            <label class="col-sm-9 control-label" style="text-align: left" id="afterdate"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label-left">售后人员：</label>
                            <label class="col-sm-9 control-label" style="text-align: left" id="afterman"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label-left">问题分类：</label>
                            <label class="col-sm-9 control-label" style="text-align: left" id="afterkind"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label-left">问题详情：</label>
                            <label class="col-sm-9 control-label" style="text-align: left" id="details"></label>
                        </div>


                        <!--<div class="form-group">
                                
                                <label for="uname" class="col-sm-3 control-label-left">费用</label>
                                <div class="col-sm-9">
                                    <input type="text" id="uname" name="uname" class="form-control well" placeholder="请输入费用"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="upwd" class="col-sm-3 control-label-left">处理情况</label>
                                <div class="col-sm-9">
                                    <input type="password" id="upwd" name="upwd" class="form-control well" placeholder="请输入处理情况"/>
                                </div>
                            </div>-->
                    </form>
                </div>

                <div class="modal-footer">
                    <!--  模态框底部样式，一般是提交或者确定按钮 -->
                    <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal -->
</form>
<!--服务反馈单-->
<form method="post" action="#" class="form-horizontal" role="form" id="myForm" onsubmit="return ">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!--  定义模态框，过渡效果为淡入，id为myModal,tabindex=-1可以禁用使用tab切换，aria-labelledby用于引用模态框的标题，aria-hidden=true保持模态框在触发前窗口不可见  -->
        <div class="modal-dialog">
            <!--  显示模态框对话框模型（若不写下一个div则没有颜色）  -->
            <div class="modal-content">
                <!--  显示模态框白色背景，所有内容都写在这个div里面  -->

                <div class="modal-header">
                    <!--  模态框标题  -->
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!--  关闭按钮  -->
                    <h4>服务反馈单</h4>
                    <!--  标题内容  -->
                </div>

                <div class="modal-body">
                    <!--  模态框内容，我在此处添加一个表单 -->
                    <form class="form-horizontal" role="form">
                        <div></div>
                       
                        <div class="form-group">
                            <label class="col-sm-3 control-label-left">售后服务编号：</label>
                            <label class="col-sm-9 control-label" style="text-align: left" id="fsvnum"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label-left">订单编号：</label>
                            <label class="col-sm-9 control-label" style="text-align: left" id="fornum"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label-left">产品编号：</label>
                            <label class="col-sm-9 control-label" style="text-align: left" id="forpro"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label-left">价格：</label>
                            <label class="col-sm-9 control-label" style="text-align: left" id="forprice"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label-left">产品名称：</label>
                            <label class="col-sm-9 control-label" style="text-align: left" id="forname"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label-left">购买时间：</label>
                            <label class="col-sm-9 control-label" style="text-align: left" id="fortime"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label-left">售后人员：</label>
                            <label class="col-sm-9 control-label" style="text-align: left" id="fsvwk"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label-left">反馈日期：</label>
                            <label class="col-sm-9 control-label" style="text-align: left" id="fsvtime"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label-left">处理类型：</label>
                            <label class="col-sm-9 control-label" style="text-align: left" id="fsvkind"></label>
                        </div>


                        <div class="form-group">

                            <label for="uname" class="col-sm-3 control-label-left">费用</label>
                            <div class="col-sm-9">
                                <input type="text" id="charge"class="form-control well" placeholder="请输入费用" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="upwd" class="col-sm-3 control-label-left">处理情况</label>
                            <div class="col-sm-9">
                                <input type="text" id="deal"  class="form-control well" placeholder="请输入处理情况" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label class="control-label">客户确认</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control input-sm" name="verify" id="verify">
                                        <option>是</option>
                                        <option>否</option>
                                    </select>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <!--  模态框底部样式，一般是提交或者确定按钮 -->
                    <button  class="back btn btn" onclick="submitback(this)">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal -->
</form>

<!-- 模态框（Modal） -->
<!--<div class="modal fade col-md-12" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
            </div>
            <div class="modal-body">点击关闭按钮检查事件功能。</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">提交更改</button>
            </div>-->
<!--</div> -->
<!-- /.modal-content -->
<!--</div>-->
<!--/.modal-dialog -->
<!--</div>-->
<!-- /.modal -->

</body>

</html>