<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="__STATIC__/index/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <h2>添加员工</h2>
        <hr>
        <form action="{:url('worker/save')}" method="post">

            <table class="table table-striped table-bordered table-hover table-condensed">

                <tr>
                    <td>员工姓名</td>
                    <td><input name="wk_name" type="text" placeholder="员工姓名" required="required"></td>
                </tr>

                <tr>
                    <td>职位</td>
                    <td>
                        <select name="wk_position">
                            <option value="售后人员">售后人员</option>
                            <option value="销售人员">销售人员</option>
                            <option value="部门经理">部门经理</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>所属部门</td>
                    <td>
                        <select  name="wk_branch">
                            <option value="电视事业部">电视事业部</option>
                            <option value="电脑事业部">电脑事业部</option>
                            <option value="洗衣机事业部">洗衣机事业部</option>
                            <option value="空调事业部">空调事业部</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td><input data-icon="plus" type="submit" value="提交"></td>
                </tr>
            </table>

        </form>

    </div>

    <script src="__STATIC__/index/js/jquery.js"></script>
    <script src="__STATIC__/index/js/bootstrap.min.js"></script>
</body>

</html>