<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"  href="/static/bs/css/bootstrap.min.css">
        <script src="/static/bs/js/jquery.min.js"></script>
         <script src="/static/bs/js/bootstrap.min.js"></script>
    </head>
    <body>
    	 <div class="container">
        <!-- 	<?php

        	var_dump($data);


        	?> -->

        	<div class="panel panel-primary">
        		<div class="panel-heading">
        			<button class="btn btn-success">添加用户页面</button>
        			
        			<a href="/index/User" class="btn btn-danger">查看用户</a>
        		</div>
        		<div class="panel-body">
        			<form action="">
        				<div class="form-group">
        					<label for="">User</label>
        					<input type="text" name="name" class="form-control" id="">
        				</div>

        			</form>
        		</div>
        	</div>
        	
        </div>


    </body>
</html>