<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 部门管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('branch/branch')}" data-title="部门信息" href="javascript:void(0)">部门信息</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 员工管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('worker/aftersaleman')}" data-title="售后人员" href="javascript:void(0)">售后人员</a></li>
					<li><a _href="{:url('worker/salesman')}" data-title="销售人员" href="javascript:void(0)">销售人员</a></li>

				</ul>
			</dd>
		</dl>

		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('production/production')}" data-title="产品信息" href="javascript:void(0)">产品信息</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 统计分析<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('statistic/index/index')}" data-title="产品信息" href="javascript:void(0)">统计分析</a></li>
				</ul>
			</dd>
		</dl>


	</div>
</aside>